*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
}

body {
  display: grid;
  background-color: lightgray;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
  padding: 5px 10px;
  background-color: white;
}

h1 {
  color: #00b894;
  display: inline-block;
  margin: 0;
}

header p {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

main {
  padding: 10px;
  width: 100%;
}

section {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
  width: 95%;
}

section div {
  text-align: center;
}

h2 {
  border-bottom: 2px solid gray;
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
}
.user-info {
  grid-area: user;
  width: 98.4%;
}

#mountain-pic {
  height: 75px;
}

#sunny-pic {
  height: 100px;
  margin-top: 50px;
}

.grid-item {
  float: left;
  width: 440px;
  height: 200px;
  background: #ffffff;
  border: 2px solid #b6b5b4;
  grid-auto-rows: auto;
}
section:hover {
  /* box-shadow: 0 0 0 0.25rem #00b894; */
  box-shadow: 5px 5px grey
}

.grid-item--width2 {
  width: 900px;
}
.grid-item--height2 {
  height: 425px;
}

.grid-item--height3 {
  height: 650px;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: rgb(83, 170, 83);
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
}

.day-streaks p {
  display: inline-block;
  margin: 5px 10px;
}

#step-increase div {
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
}

.green {
  color: #00b894;
  font-weight: 700;
}

.dark {
  background-color:#343D46;
  color:rgb(191, 191, 191);
}
