*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
}

body {
  display: grid;
  background-color: lightgray;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
  padding: 5px 10px;
  background-color: white;
}

h1 {
  color: green;
  display: inline-block;
  margin: 0;
}

header p {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

header img {
  background-color: black;
}

ul {
  list-style-type: none;
}

main {
  padding: 10px;
  width: 100%;
}

section {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  width: 95%;
}

section div {
  text-align: center;
}

h2 {
  border-bottom: 2px solid gray;
}

h3 {
  margin-top: 10px;
}
.user-info {
  grid-area: user;
  width: 98.4%;
}

#mountain-pic {
  width: 350px;
}

.grid-item {
  float: left;
  width: 440px;
  /* height: 400px; */
  background: #ffffff;
  border: 2px solid #b6b5b4;
  grid-auto-rows: auto;
}

.grid-item-special {
  width: 800px;
}

.grid-item--width2 {
  width: 900px;
}
.grid-item--height2 {
  height: 800px;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: rgb(83, 170, 83);
  z-index: 2;
}

.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  transition: transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
}

.step-leader {
  color: green;
}
